RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^ https://hmansour.me%{REQUEST_URI} [L,NE,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L] 

#Protect single file
<Files dashboard.php>
AuthType Basic 
AuthName "My Protected Folder" 
AuthUserFile https://github.com/neutroon/portfolio/blob/6b8223d8f1c81185317413153248af69a5a5f9cb/.htpasswd
require valid-user
</Files>