<section class="pl-4 pr-4 ">

  <!-- <div (change)="changeTheme()" class="toggleTheme">
    <input type="checkbox" class="checkbox" id="checkbox">
    <label for="checkbox" class="checkbox-label">
      <i class="pi pi-moon"></i>
      <i class="pi pi-sun"></i>
      <span class="ball"></span>
    </label>
  </div> -->


  <div class="flex justify-content-between align-items-center">
    <h3 class="m-0">Dark mode</h3>
    <p-inputSwitch [(ngModel)]="darkmode" (onChange)="changeTheme()" ></p-inputSwitch>
  </div>

  <div class="translate">

  </div>

</section>
