<section class="pl-4 pr-4 pt-3 mb-4 card flex flex-column align-items-center">



    <div class="mb-3 flex">
        <button pButton type="button" [label]="isExpanded ? 'Collapse all' : 'Expand all'" (click)="toggleTree()"
            class="toggle-btn border-round-2xl shadow-none"
            pTooltip="{{isExpanded ? 'Collapse all skill categories' : 'Expand all skill categories'}}"
            tooltipPosition="bottom" tooltipStyleClass="custom-tooltip"></button>
    </div>
    <p-tree [value]="files" class="w-full"></p-tree>


</section>