/* You can add global styles to this file, and also import other style files */
figure{
  margin: 0
}
.translate-middle{
  transform: translateX(-50%) translateY(-50%);
}
[role="button"]{
  cursor: pointer;
}

h4{
  margin-bottom: .1rem;
}
p{
  margin-top: .1rem;
}

.p-selectbutton{
  .p-button:focus{
    box-shadow: none;
  }
  .p-button{
    border-radius: 10px;
    margin: 5px;
    font-size: .7rem;
    padding: .5rem 1rem;
  }
}
a{
  text-decoration: none;
}



